* {
    background-color: black;
    margin: 2px;
    padding: 1px;
    font-family: 'Kalam', cursive;
    text-align: center;
}

button {
    padding: 10px;
    margin: 10px;
    font-family: Teko;
    font-size: 16px;
    color: #ffffff;
    background: linear-gradient(90deg, rgb(125, 9, 9) 0%, rgb(208, 15, 15) 50%, yellow 100%);
    padding: 10px 47px;
    box-shadow: rgb(226, 216, 216) 0px 0px 0px 0px;
    border-radius: 22px 50px;
    transition: 327ms;
    transform: translateY(0);
}

a:link {
    color: rgb(128, 107, 0);
    background-color: transparent;
    text-decoration: none;
    font-size: 1.2rem;
}

a:visited {
    color: rgb(125, 9, 9);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 64, 0);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.redes {
    color: #d51717;
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    -webkit-transition-property: all;
    -webkit-transition-duration: .1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
    border: solid 2px #c63e18;
    border-radius: 50%
}

.redes:hover {
    color: rgb(190, 173, 19);
    background-color: #fae52b;
    text-decoration: none
}

.animate__rotateInDownLeft {
    animation: bounce;
    animation-duration: 2s;
}

.container{
width: 100%;
display: grid;
grid-template-columns: repeat(3, auto);
grid-template-rows: repeat(3, auto);
background-image: url(/img/fondo.jpg);
padding: 10px;
justify-content: space-evenly;
align-content: center;
grid-column-gap: 10px;
}


header {
    grid-area: header;
}

.item-contenido {
    text-align: center;
    border-radius: 2em;
    color: orange;
    margin: 5px;
    font-size: 1rem;
    float: none;
    padding: 10px;
    grid-area: contenido;
}


.item-left {
    height: auto;
    width: 50%;
    border-radius: 2em;
    color: orange;
    margin: 5px;
    font-size: 1rem;
    float: left;
    padding: 10px;
}

.aside {
    background-image: url(/img/fondo.jpg);
    height: auto;
    width: 30%;
    border-radius: 2em;
    color: orange;
    border-style: double;
    margin: 5px;
    font-size: 1rem;
    float: right;
    padding: 20px;
}


.item {
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.grid-container-footer {
    color: white;
    font-style: oblique;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 10px;
    align-content: left;
    grid-column-gap: 10px;
}

